{%extends 'mise en page/base.html' %}
{% block content %}
<center>
	
<table>
	<tr>
		<th ><center>
		<img src="../static/images/yoann.jpg" alt="image de profil" title="image de l'administrateur"></center>
		</th>

	</tr>
	<tr>
		<th>
	<div>
		<strong>Salut a Vous Mes dammes et Mr les visiteurs <br/>On m'appel BAIKAYABE Mervie</strong>
		<br/><br/><hr/>
		<br/>
		J'ai developpé ce site web avec <strong>le framework Django,</strong>
		<br/> ce site a pour but de produire les
		cartes d'identités de chaque étudiants de mon institut;<br/> l'Ecole
		Communautaire de l'Enseignement Superieur <a href="http://www.eces-ecole.org">ECES</a>.
	</div>

		</th>
	</tr>
</table>
</center>



{%endblock%}